body {
    background-image: url('/assets/img/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.tab__button{
    margin: 0 10px;
}

.Mat_tab_options{
    background: white;
    padding: 0 20px;
}
.card {
	background-color: white;
    border-style:groove;
	border-radius: 1rem;
	
	margin: 1rem;
	width: 20rem;
	
}

.card_title{
    text-align: center;
    padding-bottom: 5px;
}

.container{
	background-image: url('/assets/img/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.info_general{
    display: flex; 
    justify-content: space-between;
}


.info{
    padding: 5px;
}

@media only screen and (max-width: 500px)
  {

	
	.card{
		width: 100%;
        margin: 1rem 0;
        
	}



	
  }