<body>
	<app-navbar-comprador></app-navbar-comprador>
	
		<form [formGroup]="MyForm" class="Mat_tab_options">
			<mat-tab-group #tab>
			  <mat-tab label="Buscar por nombre de establecimiento">
				<mat-form-field>
				  <input matInput placeholder="Nombre de establecimiento" formControlName="nombreEstablecimiento" />
				</mat-form-field>
			</mat-tab>
			<mat-tab label="Buscar por dirección">
				<mat-form-field>
				  <input matInput placeholder="Dirección" formControlName="direccion" />
				</mat-form-field>
			</mat-tab>
			<mat-tab label="Buscar por distrito">
				<mat-form-field>
					<mat-select class="select" formControlName="distrito" placeholder="Seleccione su distrito"  [(value)]="nombreDistrito" required>
						<mat-option *ngFor="let element of distritos" [value]="element.nombreDistrito">
						  {{element.nombreDistrito}}
						</mat-option>
					  </mat-select>
				</mat-form-field>
			</mat-tab>
		</mat-tab-group>
		<button class="tab__button" mat-raised-button color="primary" type="submit" (click)="search()">Buscar</button>
		<button class="tab__button" mat-raised-button color="primary" (click)="getFarmacias()">Borrar filtros</button>
		</form>
		<div class="container">
		<mat-card *ngFor="let element of farmacias" class="card">
			<mat-card-title class="card_title">{{element.nombreEstablecimiento}} </mat-card-title>
			<div class="info_general">
			<div class="info">
			<mat-card-content>Correo de contacto: {{element.correoContacto}}</mat-card-content>
			<mat-card-content>Teléfono de contacto: {{element.telefonoContacto}}</mat-card-content>
			<mat-card-content>Dirección: {{element.direccion}}</mat-card-content>
			<mat-card-content>Distrito: {{element.distrito.nombreDistrito}}</mat-card-content>
			<mat-card-content>Nombre del Dueño: {{element.nombresDuenio}} {{element.apellidosDuenio}}</mat-card-content>
			</div>
			</div>

		</mat-card>
		
	
	</div>
</body>

