mat-toolbar{
    background-color: rgba(0, 0, 0, 0.3);
    height: auto;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    width: 6%;
    padding-right: 25px;
}


mat-form-field{
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    font-size: 15px;
}

.buscador{
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px; 
}

.columna{
    display: flexbox;
}



.opciones{
    background-color: white;
    width: auto;
    color: #0A66B0;
    cursor: pointer;
}

.imagenes{
    width: 4.5%;
    padding-right: 15px;
    padding-left: 15px;
}


.opciones1{
    background-color: white;
    width: auto;
    color: #C52033;
    cursor: pointer;
}

.compra{
    cursor: pointer;
    height: 50px;
    width: 50px;
    
    padding-right: 25px;
    border-radius: 20px;

}



@media only screen and (max-width: 870px)
{
  .logo{
    display: none;
  }

  .compra{
    height: 35px;
    width: 35px;
    margin-top: 10px;
  }

}