<body>
    <app-navbarcomprador></app-navbarcomprador>
    <div class="line">
        <div>
            <mat-card class="example-card1">
            <p class="title">Ofertas de la semana</p>
            <img class="img1" src="/assets/img/productoPrincipal.PNG">
            <br>
            <img class="img2" src="/assets/img/productoprincipal2.PNG">
            </mat-card>
        </div>
        <div>
            <mat-card class="example-card2">
                <img class="img1" src="/assets/img/moneda.svg">
                <br>
                <br>
                <p class="parrafo">Ahorro promedio en soles</p>
                <br>
                <p class="parrafo">S/ 5.00</p>
                <br>
                <br>
                <p class="parrafo">En los ultimos 12 meses</p>
            </mat-card>
        </div>
    </div>
</body>
