<body>
    <app-navbarcomprador></app-navbarcomprador>
    <div class="container">
        <div class="uno">
            <mat-card class="example-card1">
            <h4 class="titulo">Ventas generadas hoy</h4>
            <p class="parrafo">PANADOL ANTIGRIPAL NF TABLETA S/. 2.20</p>
            <br>
            <p class="parrafo">PANADOL 100MG/ML SOLUCIÓN ORAL GOTAS S/.15.40</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="total">TOTAL: S/.17.60</p>
            </mat-card>
        </div>
        <div class="dos">
            <mat-card class="example-card2">
                <p class="titulo">Noticias de farmacias</p>
                <br>
                <br>
                <img src="/assets/img/grafico.png">
                <br>
                <br>
                <br>
                <br>
            </mat-card>
        </div>
    </div>
</body>
