<body>
   <app-navbar> </app-navbar>

    <form [formGroup]="myForm" autocomplete="off" class="myForm">
    <mat-card class="example-card">
        <p class="title">Iniciar Sesión</p>
        <img src="/assets/img/logo.png">
        <input onKeypress="if(event.keyCode == 32) event.returnValue = false;" type="email" class="form-control" placeholder="Ingresa tu correo" matInput formControlName="correo" />
        <input type="password" class="form-control" placeholder="Ingresa tu contraseña" matInput formControlName="contraseña" />
        <button mat-raised-button (click)="validate()">Iniciar Sesión</button>
        <p class="link" routerLink="/RecuperaCuenta">¿Has olvidado tu contraseña?</p>
        <p class="link" >Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad
        </p>
        <p class="link" routerLink="/registrotipo">¿No tienes una cuenta? Registrate</p>
    </mat-card>
</form>
 
</body>
