<!-- 

<body>
    <div class="contenedor">
        <div class="main-div">
    <mat-card class="example-card">
        <p class="title">Iniciar Sesión</p>
        <img src="/assets/img/logo.png">
        <input type="email" class="form-control" placeholder="Ingresa tu usuario">
        <input type="password" class="form-control" placeholder="Ingresa tu contraseña">
        <button mat-raised-button routerLink="/Comprador">Iniciar Sesión</button>
        <p class="link" routerLink="/RecuperaCuenta">¿Has olvidado tu contraseña?</p>
        <p class="link" routerLink="/Farmacia">Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad
        </p>
        <p class="link" routerLink="/registrotipo">¿No tienes una cuenta? Registrate</p>
    </mat-card>
    </div>
    </div>
</body>
-->