<body>
    <mat-card class="example-card">
        <p class="title">Iniciar Sesión</p>
        <img src="/assets/img/logo.png">
        <br>
        <br>
        <input type="email" class="form-control" placeholder="Ingresa tu usuario">
        <input type="password" class="form-control" placeholder="Ingresa tu contraseña">
        <button mat-raised-button>Iniciar Sesión</button>
        <p class="link">¿Has olvidado tu contraseña?</p>
        <p class="link2">Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad
        </p>
        <p class="link3" routerLink="/registrotipo">¿No tienes una cuenta? Registrate</p>
    </mat-card>
</body>