body{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p{
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;
}

.fondo{
    background-image: url('/assets/img/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.contenedor{
    width: 70%;
    height: auto;
    margin: 50px auto;
    text-align: center;
    padding: 3%;
    background-color: #34A7D8;
    border-radius: 15px;
}

@media only screen and (max-width: 650px)
  {
    .contenedor{
        width: 100%;
        padding: 0;
    }

    p{
        font-size: 30px;
    }
  }
