
<body>
	<app-navbarcomprador></app-navbarcomprador>
	<div class="container">

		<mat-card *ngFor="let element of products" class="card">
			<mat-card-title class="card_title">{{element.nombre}} </mat-card-title>
			<div class="info_general">
			<div class="image_container">
			</div>
			<div class="info">
			<mat-card-content>Stock: {{element.stock}}</mat-card-content>
			<mat-card-content>Precio: {{element.precio}}</mat-card-content>
			<mat-card-content>Descripción: {{element.descripcion}}</mat-card-content>
			<mat-card-content>Categoría: {{element.categoria.categoria}}</mat-card-content>
			</div>
			</div>
			<div class="button_container">
			<button class="button">Agregar al carrito</button>
			</div>
		</mat-card>
		
	
	</div>
</body>
