
body{
    background-image: url('/assets/img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

mat-toolbar{
    background-color: rgba(0, 0, 0, 0.3);
}


button{
    margin: auto;
    height: auto;
    width: 250px;
}

img{
    display: block;
    margin: auto;
    padding: 225px 225px;
}