
   <mat-toolbar>
        <button mat-raised-button routerLink="/Informacion">Información</button>
        <button mat-raised-button routerLink="/Contacatanos">Contáctanos</button>
        <button mat-raised-button routerLink="/Login">Ingresar</button>
        <button mat-raised-button routerLink="/registrotipo">Registrarse</button>
    </mat-toolbar>

    <div class="container__responsive">
        <div class="container__responsive-button">
            <mat-icon>menu</mat-icon>
        </div>
        <ul class="container__responsive-ul">
            <li><a routerLink="/Informacion">Información</a></li>
            <li><a routerLink="/Contacatanos">Contáctanos</a></li>
            <li><a routerLink="/Login">Ingresar</a></li>
            <li><a routerLink="/registrotipo">Registrarse</a></li>
        </ul>
      </div>