<app-navbarcomprador></app-navbarcomprador>
<body>
	<div class="container">

		<div class="card">
			<div class="left-column">
                <img src="/assets/img/paracetamol.png">
			</div>

			<div class="right-column">
				<h2>PARACETAMOL 500 MG TABLETAS</h2>
				<p>Caja de 100 unidades</p>
                <p>Receta medica requerida</p>
                <p>Vendido por Farmavida</p>
				<button class="button">Agregar al carrito</button>
			</div>

		</div>
		<div class="card">
			<div class="left-column">
                <img src="/assets/img/panadol.png">
			</div>

			<div class="right-column">
				<h2>PANADOL ANTIGRIPAL NF TABLETA</h2>
				<p>Sobre x2 tabs 1 UNID</p>
                <p></p>
                <p>Vendido por Farmacia Angel</p>
                <p>S/ 2.20</p>
				<button class="button">Agregar al carrito</button>
			</div>
		</div>
        <div class="card">
			<div class="left-column">
                <img src="/assets/img/panadolrosa.png">
			</div>

			<div class="right-column">
				<h2>PANADOL 100MG/ML SOLUCION ORAL GOTAS</h2>
				<p>Frasco de 15 ML</p>
                <p></p>
                <p>Vendido por Farmacia Angel</p>
                <p>S/ 15.40</p>
				<div class="count">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="remove"></mat-icon>
                    <output>&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;</output>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
                </div>
            </div>
		</div>
	</div>
</body>

