body{
    background-image: url('/assets/img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title{
    text-align: left;
    font-weight: bold;
    font-size: 25px;
}

.producto{
    margin-bottom: 30px;
    background-color: aqua;
    font-size: 15px;
    font-weight: bolder;
}


mat-card{
    margin-top: 100px;
}

.mat_card_container{
    background-color: white;
    width: 100%;
    height: auto;
   display: flex;
   flex-wrap: wrap;
}


.right{
   width: 60%;
}

.left{
    width: 40%;
   
}

.distrito{
    text-align: center;
}





.example-h2 {
    margin: 10px;
  }
  
  
  .example-margin {
    margin: 10px;
  }


.box{
    border-radius: .2rem;
    padding: 1rem;
    color: black;
    width: 100%;
    font-size: 15px;
    height: 50px;
}
hr {
    margin: auto;
    width: 100%;
    height: 2px;
    background-color: #C4C4C4;
    text-align: left;
}

.boton{
    margin: auto;
}

.boton1{
    margin: auto;
    background-color: #E80B0B;

}

.direccion{
    width: 100%;
}

.distrito{
    width: 40%;
    margin: auto;
}
