<body>
    <app-navbarcomprador></app-navbarcomprador>
    <div class="contenedor">
        <div class="carta">
            <mat-card>
                <p class="title">Babel Farma</p>
                <div class="right">
                   <img src="/assets/img/panadolrosa.png">
                    <div class="contenido">
                        <p class="producto">Panadol 100mg/ml Solución oral gotas</p>
                        <br>
                        <p class="normal">Frasco 15 ML</p>
                        <p class="normal">Cantidad: 1</p>
                        <br>
                        <p class="normal">Vendido por Farmacia Angel</p>
                    </div>
                    <div style="display:flex; margin: auto;">
                        <button mat-raised-button class="boton">Compra Online</button>
                        <button mat-raised-button class="boton">Recojo en tienda</button>
                        <button mat-raised-button class="boton1">Eliminar</button>
                    </div>

                </div>
                <hr>
                <p class="normal">Subtotal: &nbsp; &nbsp; &nbsp; S/ 15.40</p>
            </mat-card>
        </div>
    </div>
</body>