<body>
    <app-navbarcomprador></app-navbarcomprador>
    <div class="contenedor">
        <div class="carta">
            <mat-card>
                <p class="title">Babel Farma</p>
                <div class="mat_card_container">
                <div class="right">
                 
                    <div class="contenido">
                        <div class="producto" *ngFor="let element of productosCarrito">
                            <p class="producto">{{element.nombre}}</p>
                        <br>
                        <p class="normal">{{element.descripcion}}</p>
                        <p class="normal">Cantidad: 1</p>
                        <br>
                        <p class="normal">Vendido por Farmacia Angel</p>
                        </div>
                        
                    </div >
                </div>
                
                <div class="left">
                    <div  class="opciones">
                        <div style="display:flex; margin-top: 3%;">
                            <button mat-raised-button class="boton" routerLink="/RutaFarmacia">Recojo en tienda</button>
                            <button mat-raised-button class="boton" id="verificar2">Compra Online</button>
                            <button mat-raised-button class="boton1" (click)="vaciarCarrito()">Eliminar</button>
                        </div>
                        <div style="display:flex; margin-top: 3%;">
                            <section class="example-section">
                                <mat-slide-toggle class="example-margin" id="envio" [(ngModel)]="disabled">Envío</mat-slide-toggle>
                            </section>
                        <input type="text" class="direccion" id="direccion" placeholder="Ingresar su dirección"
                            [checked]="checked"
                            [disabled]="disabled">
                        </div>
                        <div style="display:flex; margin-top: 3%;">
                            <label class="distrito">Distrito</label>
                            <mat-select class="select example-margin" formControlName="distrito" placeholder="Seleccione su distrito"  [(value)]="idDistrito" required>
                                <mat-option *ngFor="let element of distritos" [value]="element.id">
                                  {{element.nombreDistrito}}
                                </mat-option>
                              </mat-select>
                        </div>
                    </div>
                </div>

            </div>
                <hr>
                <p class="normal">Subtotal: &nbsp; &nbsp; &nbsp; S/ 15.40</p>
            </mat-card>
            
        </div>
        
    </div>


</body>