<body>
    <app-navbar-farmacia></app-navbar-farmacia>
    <div class="fondotabla">
      <form [formGroup]="MyForm" class="Mat_tab_options">
      <mat-tab-group class="filtros" #tab>
        <mat-tab label="Buscar por nombre del cliente">
        <mat-form-field>
          <input matInput placeholder="Nombre del cliente" formControlName="nombre" (keyup)="search()"/>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Buscar por mes">
        <mat-form-field>
          <mat-select class="select" formControlName="mes" placeholder="Seleccione el mes" [(value)]="numeroMes" required >
            <mat-option [value]="1" (click)="search()">Enero</mat-option>
            <mat-option [value]="2" (click)="search()">Febrero</mat-option>
            <mat-option [value]="3" (click)="search()">Marzo</mat-option>
            <mat-option [value]="4" (click)="search()">Abril</mat-option>
            <mat-option [value]="5" (click)="search()">Mayo</mat-option>
            <mat-option [value]="6" (click)="search()">Junio</mat-option>
            <mat-option [value]="7" (click)="search()">Julio</mat-option>
            <mat-option [value]="8" (click)="search()">Agosto</mat-option>
            <mat-option [value]="9" (click)="search()">Septiembre</mat-option>
            <mat-option [value]="10" (click)="search()">Octubre</mat-option>
            <mat-option [value]="11" (click)="search()">Noviembre</mat-option>
            <mat-option [value]="12"  (click)="search()">Diciembre</mat-option>

            </mat-select>
        </mat-form-field>
      </mat-tab>
      </mat-tab-group>
      <button class="tab__button" mat-raised-button color="primary" (click)="getVentas()">Borrar filtros</button>
    </form>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Código</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef>Cantidad</th>
          <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>
      
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element"> {{element.fecha  | date:'dd/MM/yyyy'}}</td>
        </ng-container>
      
        <ng-container matColumnDef="precioTotal">
          <th mat-header-cell *matHeaderCellDef>Precio Total</th>
          <td mat-cell *matCellDef="let element">S/. {{element.precioTotal.toFixed(2)}} </td>
        </ng-container>
  
        <ng-container matColumnDef="precioUnit">
          <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
            <td mat-cell *matCellDef="let element">S/. {{element.precioUnit.toFixed(2)}} </td>
        </ng-container>
        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef>Cliente</th>
                <td mat-cell *matCellDef="let element"> {{element.cliente.nombres}} {{element.cliente.apellidoPaterno}} {{element.cliente.apellidoMaterno}} </td>
          </ng-container>
          <ng-container matColumnDef="farmacia">
            <th mat-header-cell *matHeaderCellDef>Farmacia</th>
                <td mat-cell *matCellDef="let element"> {{element.farmacia.nombreEstablecimiento}} </td>
          </ng-container>
          <ng-container matColumnDef="producto">
            <th mat-header-cell *matHeaderCellDef>Producto</th>
            <td mat-cell *matCellDef="let element"> {{element.producto.nombre}} </td>
          </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
     
      </table>
      <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </body>
  
