<mat-toolbar>
    <img src="/assets/img/logo.png" class="logo">
    <div class="columna">
        <div>
            <mat-chip-list >
              <mat-chip class="opciones" routerLink="/Farmacia/{{idFarmacia}}">
                &nbsp;Inicio
              </mat-chip>
                <mat-chip class="opciones" routerLink="/ReporteCategoria/{{idFarmacia}}">
                  Reportes de Stock
                </mat-chip> 
                 <mat-chip class="opciones" routerLink="/ReporteMontoPorMes/{{idFarmacia}}">
                  Reporte de Monto por Mes
                 </mat-chip>
                <mat-chip class="opciones" routerLink="/ReporteProductosVendidos/{{idFarmacia}}">
                 Productos vendidos
                </mat-chip>

            </mat-chip-list>
        </div>
        <div>
            <mat-chip-list >
                <mat-chip class="opciones" routerLink="/RegistarProducto/{{idFarmacia}}">
                  &nbsp;Registrar un producto
                </mat-chip>
                <mat-chip class="opciones" routerLink="/ListaDeProductos/{{idFarmacia}}">
                  &nbsp;Lista de productos
                </mat-chip>
                <mat-chip class="opciones" routerLink="/ListaDeVentas/{{idFarmacia}}">
                  &nbsp;Lista de ventas
                </mat-chip>
                <mat-chip class="opciones" routerLink="/ActualizarDatosFarmacia/{{idFarmacia}}">
                  <img matChipAvatar src="/assets/img/asistente.png" alt="Photo of a Shiba Inu"/>
                  &nbsp;Actualizar datos
                </mat-chip>
                <mat-chip class="opciones" routerLink="/">
                  Salir
                  </mat-chip>
              </mat-chip-list>
        </div>
    </div>

</mat-toolbar>
