<mat-toolbar>
    <img src="/assets/img/logo.png" class="logo">
    <div class="columna">
        <div>
            <mat-chip-list >
                <mat-chip class="opciones">
                  <img matChipAvatar src="/assets/img/sube.png" class="imagenes"/>
                  &nbsp;Productos más vendidos
                </mat-chip>
                <mat-chip class="opciones">
                  <img matChipAvatar src="/assets/img/bajada.png" class="imagenes"/>
                  &nbsp;Productos menos vendidos
                </mat-chip>
            </mat-chip-list>
        </div>
        <div>
            <mat-chip-list >
                <mat-chip class="opciones" routerLink="/RegistarProducto">
                  &nbsp;Registrar un producto
                </mat-chip>
                <mat-chip class="opciones" routerLink="/ListaDeProductos">
                  &nbsp;Lista de productos
                </mat-chip>
              </mat-chip-list>
        </div>
    </div>

</mat-toolbar>
