mat-toolbar{
    background-color: rgba(0, 0, 0, 0.3);
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;

}

.logo{
    width: 6%;
    padding-right: 25px;
}


.columna{
    display: flexbox;
    
}


.opciones{
    background-color: white;
    width: auto;
    color: #0A66B0;
    cursor: pointer;
}

.imagenes{
    width: 100%;;
    padding-right: 15px;
    padding-left: 15px;
}

.compra{
    width: 6%;
    padding-right: 25px;
    border-radius: 20px;
    align-items: right;
    cursor: pointer;
}



@media only screen and (max-width: 870px)
{
  .logo{
    display: none;
  }
}