
<body>
    <app-navbar></app-navbar>

<article>
    <section class="sec1">
        <div>
            <div>
            <h1><b>Envío</b></h1>
            <img src="/assets/img/Envío.png" alt="Envío" class="img_sec1">
            </div>
            
            <p>Podrás solicitar tus medicamentos y recibirlos en la puerta de tu casa gracias a nuestro servicio de delivery.</p>
        
        </div>
        <div>
            <div>
                <h1><b>Recojo</b></h1>
                <img src="/assets/img/Recojo.png" alt="Recojo" class="img_sec1">
             </div>
            <p>Realiza tus compras en la farmacia de tu preferencia y recojelas ahí mismo.</p>
         
        </div>
    </section>
  
    <section class="sec2">
    
        <img src="/assets/img/Comprador2.png" alt="Comprador" class="img_sec2">
        <div>
        <h1><b>Comprador</b></h1>
        <ul>
            <li>Podrás acceder al   catálogo completo de medicamentos disponibles.</li>
            <li>Podrás recojer tus productos comprados en la farmacia o en tu domicilio.</li>
        </ul>
        </div>
    </section>

    <section class="sec2">
        <div>
          <h1><b>Dueño de farmacia</b></h1>
          <ul>
            <li>Podrás ofrecer los medicamentos que esten disponibles en tú farmacia.</li>
            <li>Podrás realizar tus ventas mediante la aplicación.</li>
          </ul>
        </div>
        <img src="/assets/img/Dueño2.png" alt="Dueño" class="img_sec2">
        
    </section>

</article>

</body>