body{
    background-image: url('/assets/img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    display: block;
    width: 30%;
    height: 65%;
    padding-top: 5%;
    margin: auto;
}