<body>
    <app-navbar></app-navbar>
    <div class="contenedor">
        <div class="main-div">
            <mat-card class="example-card">
                <p>Formulario de contacto</p>
                <input type="text" class="form-control" placeholder="Ingresa tu nombre completo">
                <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico">
                <textarea placeholder="Ingresa su mensaje"  class="form-control2"> </textarea>
                <button mat-raised-button>Enviar</button>
            </mat-card>
        </div>
    </div>
</body>