<body>
    <app-navbar-comprador></app-navbar-comprador>
    <div class="contenedor">
        <div class="carta">
            <p class="title">Compra realizada con exito</p>
            <p class="parrafo">Muestre este código QR al momento de recibir sus productos o ir a recogerlos de forma presencial.</p>
            <img src="/assets/img/qr.png">
            <br>
            <button mat-raised-button routerLink="/Comprador/{{idClienteIngresado}}">Volver al inicio</button>
            <button mat-raised-button routerLink="/Comprador/{{idClienteIngresado}}">Descargar QR</button>
        </div>
    </div>
</body>
