
body{
    background-image: url('/assets/img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    background-image: url('/assets/img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}


.container mat-card{
    background-color: #3D85BF;
    width: 500px;
    height: 500px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}

h1{
    color: white;

}

p{
    color: white;
}

img{
    width: 500px;
    height: 400px;
}

.parrafo{
    margin: 70px 0;
}

.total{
    margin-top: 150px;
}

@media only screen and (max-width: 1000px)
  {
    img{
        max-width: 95%;
        height: 300px;
    }
  }