
<body>
    <app-navbar-farmacia></app-navbar-farmacia>
    <div class="container">
            <mat-card class="example-card1">
            <h1 class="titulo">Ventas generadas hoy</h1>
              <p class="parrafo">PANADOL ANTIGRIPAL NF TABLETA S/. 2.20</p>
              <p class="parrafo">PANADOL 100MG/ML SOLUCIÓN ORAL GOTAS S/.15.40</p>
              <p class="total">TOTAL: S/.17.60</p>
            </mat-card>
       
            <mat-card class="example-card2">
                <h1 class="titulo">Noticias de farmacias</h1>
                <img src="/assets/img/grafico.png">
            </mat-card>
        
    </div>

</body>
