body{
    background-image: url('/assets/img/fondo.png');
    background-repeat: repeat-y;
    background-size: cover;
}

p{
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;
}


.fondo{
    width: 70%;
    height: auto;
    
    margin: 0 auto;
    text-align: center;
}

.contenedor{
    width: 100%;
    height: auto;
    padding: 5%;
    background-color: #34A7D8;
}

