<body>
    <app-navbarcomprador></app-navbarcomprador>
    <div class="contenedor">
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.675662331555!2d-77.12329438255617!3d-12.065822499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cb4af3db04c1%3A0x29438c3ce2bb4f1e!2sFarmacia%20Angela%20Maria!5e0!3m2!1ses-419!2spe!4v1664077433404!5m2!1ses-419!2spe" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</body>
