<body>
    <mat-card class="example-card">
        <p class="title">Recuperar contraseña</p>
        <img src="/assets/img/logo.png">
        <br>
        <br>
        <input type="number" class="form-control" placeholder="Ingresa tu número de DNI/RUC">
        <input type="email" class="form-control" placeholder="Ingresa tu correo electronico">
        <input type="password" class="form-control" placeholder="Ingresa tu nueva contraseña">
        <input type="password" class="form-control" placeholder="Confirma tu contraseña">
        <button mat-raised-button routerLink="/Login">Actualizar cuenta</button>
    </mat-card>
</body>