<body>
    <app-navbar-farmacia></app-navbar-farmacia>
    <div class="container">

        <div class="chartContainer">
        <div class="ReporteStockContainer">
            <h1 class="title">Reporte de Stock por Producto</h1>
            <canvas id="canvas-doughnut" width="400" height="400" class="chart">
                {{chartdoughnut}}
            </canvas>
        </div>
        <div class="ReporteCategoriaContainer">
            <h1 class="title">Reporte de Stock por Categoría</h1>
            <canvas id="canvas-bar" width="400" height="400" class="chart">
                {{chartBar}}
            </canvas>
        </div>
        </div>
          
    </div>

</body>
