body{
    background-image: url('/assets/img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    margin-top: 20px;
    background-image: url('/assets/img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.chartContainer{

    width: 70%;
    border-radius: 10px;
    padding: 50px 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background: white;
}

.title{
    font-weight: 900;
    text-align: center;
}

@media only screen and (max-width: 635px)
{
    .chartContainer{
        width: 100%;
        margin: 0;
        padding: 50px 0;
    }

    .chart{
        width: 100%;
    }
}