body{
    background-image: url('/assets/img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    margin-top: 20px;
    
}

.chartContainer{
    max-height: 500px;
    width: 70%;
    border-radius: 10px;
    padding: 50px 0px;
    margin: auto;
    display: flex;
    justify-content:space-evenly;
    background: white;
}

.title{
    font-weight: 900;
    text-align: center;
}