<mat-toolbar>
    <img src="/assets/img/logo.png" class="logo">
    <div class="columna">
        <div class="c1">
          <mat-chip-list>
          <mat-chip class="opciones" routerLink="/Comprador/{{idComprador}}">
           Inicio
          </mat-chip>
          <mat-chip class="opciones" routerLink="/Busqueda/{{idComprador}}">
          Buscar Productos
          </mat-chip>
          <mat-chip class="opciones" (click)="salir()">
            Salir
            </mat-chip>
        </mat-chip-list> 
          
        </div>
        <div>
            <mat-chip-list >
                <mat-chip class="opciones" routerLink="/MedicamentosRecomendados/{{idComprador}}">
                  <img matChipAvatar src="/assets/img/Bienestar.PNG" class="imagenes"/>
                  &nbsp;Medicamentos recomendados
                </mat-chip>
                <mat-chip class="opciones" routerLink="/MostrarFarmacias/{{idComprador}}">
                  <img matChipAvatar src="/assets/img/farmacia.PNG" class="imagenes"/>
                  &nbsp;Farmacia
                </mat-chip>
                <mat-chip class="opciones">
                  <img matChipAvatar src="/assets/img/asistente.png" alt="Photo of a Shiba Inu"/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diagnostico sintomatológico
                </mat-chip>
              </mat-chip-list>
        </div>
    </div>
    <img src="/assets/img/compra.PNG" class="compra" routerLink="/CarritoCompras/{{idComprador}}">
</mat-toolbar>
