<mat-toolbar>
    <img src="/assets/img/logo.png" class="logo">
    <div class="columna">
        <div class="c1">
            <input type="text" class="buscador" placeholder="¿Qué estas buscando?" routerLink="/Busqueda">
            <mat-form-field appearance="fill">
                <mat-label>Seleccione su ubicación</mat-label>
                <mat-select disableRipple>
                <mat-option value="1">San Juan de Lurigancho</mat-option>
                <mat-option value="2">El agustino</mat-option>
                <mat-option value="3">San Isidro</mat-option>
                <mat-option value="3">Surco</mat-option>
                <mat-option value="3">La Victoria</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-chip-list >
                <mat-chip class="opciones" routerLink="/MedicamentosRecomendados">
                  <img matChipAvatar src="/assets/img/Bienestar.PNG" class="imagenes"/>
                  &nbsp;Medicamentos recomendados
                </mat-chip>
                <mat-chip class="opciones" routerLink="/MostrarFarmacias">
                  <img matChipAvatar src="/assets/img/farmacia.PNG" class="imagenes"/>
                  &nbsp;Farmacia
                </mat-chip>
                <mat-chip class="opciones">
                  <img matChipAvatar src="/assets/img/asistente.png" alt="Photo of a Shiba Inu"/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diagnostico sintomatológico
                </mat-chip>
              </mat-chip-list>
        </div>
    </div>
    <img src="/assets/img/compra.PNG" class="compra" routerLink="/CarritoCompras">
</mat-toolbar>
