mat-toolbar{
    background-color: rgba(0, 0, 0, 0.3);
    height: 8rem;
}

img{
    width: 4.5%;
    padding-right: 15px;
}

mat-form-field{
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    width: 300px;
    font-size: 15px;
}

.buscador{
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;  
}

.columna{
    display: flexbox;
}

