mat-toolbar{
    background-color: rgba(0, 0, 0, 0.3);
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

.logo{
    width: 6%;
    padding-right: 25px;
}

mat-form-field{
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    font-size: 15px;
}

.buscador{
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px; 
}

.columna{
    display: flexbox;
}

.c1{
    place-items: center;
    display: flex;
    justify-content: center;
}

.opciones{
    background-color: white;
    width: auto;
    color: #0A66B0;
    cursor: pointer;
}

.imagenes{
    width: 4.5%;
    padding-right: 15px;
    padding-left: 15px;
}

.opciones1{
    background-color: white;
    width: auto;
    color: #C52033;
    cursor: pointer;
}

.compra{
    width: 6%;
    padding-right: 25px;
    border-radius: 20px;
    align-items: right;
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
}