<body>
    <app-navbar-comprador></app-navbar-comprador>
    <div class="container">
        <div class="uno">
            <mat-card class="example-card1">
            <h4>Ofertas de la semana</h4>
            <img class="img1" src="/assets/img/productoPrincipal.PNG">
            <br>
            <img class="img2" src="/assets/img/productoprincipal2.PNG">
            </mat-card>
        </div>
        <div class="dos">
            <mat-card class="example-card2">
                <img class="img1" src="/assets/img/moneda.svg">
                <p class="titulo">Ahorro promedio en soles</p>
                <br>
                <p class="moneda">S/ 5.00</p>
                <br>
                <br>
                <p class="parrafo">En los ultimos 12 meses</p>
            </mat-card>
        </div>
    </div>
</body>
