
<body>
  <app-navbar-farmacia></app-navbar-farmacia>
  <div class="fondotabla">
    <div class="buscador">
      <mat-form-field appearance="standard">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar producto" #input>
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
    
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let element">S/. {{element.precio.toFixed(2)}} </td>
      </ng-container>
    
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef>Stock</th>
        <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
      </ng-container>

      <ng-container matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef>Foto</th>
        <td mat-cell *matCellDef="let element">
          <img [src]="element.picture" width="50" height="50" />
        </td>
      </ng-container>

      <ng-container matColumnDef="opciones">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Opciones</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <a
        class="pointer"
        routerLink="/ActualizarProducto/{{ element.id }}/{{idFarmacia}}"
        style="color: #1878b0"
      >
        <mat-icon>edit</mat-icon>
      </a>
      <a
        class="pointer"
        (click)="deleteProduct(element.id)"
        style="color: #e15639"
      >
        <mat-icon>delete</mat-icon>
      </a>
    </td>
  </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
       Row shown when there is no matching data. 
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</body>
